.conteudo-principal {
    text-align: center;
    margin: 50px 25px 50px 25px;
    font-size: 25px;
    font-style: italic;
    display: flex;
    background-color: rgba(27, 26, 26, 0.877);
    border-radius: 12px;
}

.conteudo-principal img {
    width: 50vw;
    border-radius: 12px;
}

.conteudo-principal-texto {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    color: white;
}

.conteudo-principal-texto h2 {
    font-size: 1.7em;
}

.conteudo-principal-texto h3 {
    margin-top: 0;
    font-size: 1.3em;
}